.g-notice-content {
	padding: 2rem;
	&.g-notice-content-large {
		padding: 5rem 2rem;
	}
	&.g-notice-content-medium {
		padding: 3rem 2rem;
	}
	&.g-notice-content-small {
		padding: 2rem;
	}		
	.g-notice-content-title {
		margin: 0;
		line-height: 3rem;
	}
	.g-notice-content-subtitle {
		line-height: 2rem;
		opacity: 0.8;
	}
	.button {
		margin: 1rem 0 0.75rem 0;
	}
	& + .g-notice-content {
		padding-top: 0rem;
	}
	.rounded {
		border-radius: $core-border-radius;
	}
}